export GTK_IM_MODULE="ibus"
export QT_IM_MODULE="ibus"
export XMODIFIERS="@im=ibus"

export GUIX_GTK2_IM_MODULE_FILE=/run/current-system/profile/lib/gtk-2.0/2.10.0/immodules-gtk2.cache
export GUIX_GTK3_IM_MODULE_FILE=/run/current-system/profile/lib/gtk-3.0/3.0.0/immodules-gtk3.cache

ibus-daemon -drx

xinput --set-button-map "ELECOM TrackBall Mouse HUGE TrackBall" 1 2 3 4 5 6 7 2 1 10 11 12 13
#xinput --set-button-map "USB OPTICAL MOUSE" 1 2 3 4 5 6 7 2 9 10 11 12 13

export GUIX_LOCPATH=$HOME/.guix-profile/lib/locale
GUIX_PROFILE="/home/peter/.guix-profile"
. "$GUIX_PROFILE/etc/profile"

GUIX_PROFILE="/home/peter/guix_extra_profiles/ds"
. "$GUIX_PROFILE/etc/profile"

GUIX_PROFILE="/home/peter/guix_extra_profiles/games"
. "$GUIX_PROFILE/etc/profile"

GUIX_PROFILE="/home/peter/guix_extra_profiles/other"
. "$GUIX_PROFILE/etc/profile"

export XDG_DATA_DIRS="$HOME/.guix-profile/share${XDG_DATA_DIRS:+:}$XDG_DATA_DIRS"
export GIO_EXTRA_MODULES="$HOME/.guix-profile/lib/gio/modules${GIO_EXTRA_MODULES:+:}$GIO_EXTRA_MODULES"

